extends default

block content
  div(class='container' style='margin-top: 40px;')
    h2 Editar New User
    form(action='/client/change' method="POST", style='height: 60vh; display: flex; flex-direction: column; justify-content: space-between;')
      input(type='hidden' name='id' value=client.id)
      div(class='form-group')
        label(for='name') Name
        input(type='text' class='form-control' id='name' name='name' aria-describedby='nameHelp' placeholder='Enter name', required, value= client.name)
        small(id='nameHelp' class='form-text text-muted') Enter client name
      div(class='form-group')
        label(for='email') Email
        input(type='email' class='form-control' id='email' name='email' aria-describedby='emailHelp' placeholder='Enter email', required, value= client.email)
        small(id='emailHelp' class='form-text text-muted') Enter client email
      div(class='form-group')
        label(for='direction') Direction
        input(type='text' class='form-control' id='direction' name='direction' aria-describedby='directionHelp' placeholder='Enter direction', value= client.direction)
        small(id='directionHelp' class='form-text text-muted') Enter client direction
      div(class='form-group')
        label(for='phone') Phone Number
        input(type='phone' class='form-control' id='phone' name='phone' aria-describedby='phoneHelp' placeholder='985 253 524', value= client.phone)
        small(id='phoneHelp' class='form-text text-muted') Enter client phone number
      button(class='btn btn-success' type='submit') Save
